# Declare files that will always have LF line endings on checkout.
/dictionary/* text eol=lf
/dictionary/MakingNewDict1/* text eol=lf
/dictionary/SynonymAlgo/* text eol=lf
/dictionary/oldFiles/* text eol=lf