body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 4vh;
}

h2 {
    font-size: 3vh;
}


.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox-container-1 {
    width: 50vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid black;
}

.textbox-container-1 *{
    width: 30vw;
    min-width: 250px;
    font-size: 2.5vh;
}

#inputSentence {
    resize: vertical;
    height: 200px;
}

.textbox-container-2 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid black;
}

label {
    text-align: center;
}


#translatedSentence {
    width: 100%;
    overflow-wrap: break-word;
}

select {
    background-color:rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow:'';
    font-size: medium;
    border-bottom-color: black;
}
